POSTGRES_USER=bench_user
POSTGRES_PASSWORD=secret
POSTGRES_DB=bench_database
POSTGRES_HOST=bench-pg
POSTGRES_PORT=5432
POSTGRES_DSN='dbname=${POSTGRES_DB} user=${POSTGRES_USER} password=${POSTGRES_PASSWORD} host=${POSTGRES_HOST} port=${POSTGRES_PORT}'

MONGO_HOST=mongodb
MONGO_PORT=27017